<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Smileys Emotion</key>
		<array>
			<dict>
				<key>face-smiling</key>
				<array>
					<string>😀</string>
					<string>😃</string>
					<string>😄</string>
					<string>😁</string>
					<string>😆</string>
					<string>😅</string>
					<string>🤣</string>
					<string>😂</string>
					<string>🙂</string>
					<string>🙃</string>
					<string>🫠</string>
					<string>😉</string>
					<string>😊</string>
					<string>😇</string>
				</array>
			</dict>
			<dict>
				<key>face-affection</key>
				<array>
					<string>🥰</string>
					<string>😍</string>
					<string>🤩</string>
					<string>😘</string>
					<string>😗</string>
					<string>☺️</string>
					<string>😚</string>
					<string>😙</string>
				</array>
			</dict>
			<dict>
				<key>face-tongue</key>
				<array>
					<string>😋</string>
					<string>😛</string>
					<string>😜</string>
					<string>🤪</string>
					<string>😝</string>
					<string>🤑</string>
				</array>
			</dict>
			<dict>
				<key>face-hand</key>
				<array>
					<string>🤗</string>
					<string>🤭</string>
					<string>🫢</string>
					<string>🫣</string>
					<string>🤫</string>
					<string>🤔</string>
					<string>🫡</string>
				</array>
			</dict>
			<dict>
				<key>face-neutral-skeptical</key>
				<array>
					<string>🤐</string>
					<string>🤨</string>
					<string>😐</string>
					<string>😑</string>
					<string>😶</string>
					<string>😏</string>
					<string>😒</string>
					<string>🙄</string>
					<string>😬</string>
					<string>🤥</string>
				</array>
			</dict>
			<dict>
				<key>face-sleepy</key>
				<array>
					<string>😌</string>
					<string>😔</string>
					<string>😪</string>
					<string>🤤</string>
					<string>😴</string>
				</array>
			</dict>
			<dict>
				<key>face-unwell</key>
				<array>
					<string>😷</string>
					<string>🤒</string>
					<string>🤕</string>
					<string>🤢</string>
					<string>🤮</string>
					<string>🤧</string>
					<string>🥵</string>
					<string>🥶</string>
					<string>🥴</string>
					<string>😵</string>
					<string>😵‍💫</string>
					<string>🤯</string>
				</array>
			</dict>
			<dict>
				<key>face-hat</key>
				<array>
					<string>🤠</string>
					<string>🥳</string>
				</array>
			</dict>
			<dict>
				<key>face-glasses</key>
				<array>
					<string>😎</string>
					<string>🤓</string>
					<string>🧐</string>
				</array>
			</dict>
			<dict>
				<key>face-concerned</key>
				<array>
					<string>😕</string>
					<string>🫤</string>
					<string>😟</string>
					<string>🙁</string>
					<string>☹️</string>
					<string>😮</string>
					<string>😯</string>
					<string>😲</string>
					<string>😳</string>
					<string>🥺</string>
					<string>😦</string>
					<string>😧</string>
					<string>😨</string>
					<string>😰</string>
					<string>😥</string>
					<string>😢</string>
					<string>😭</string>
					<string>😱</string>
					<string>😖</string>
					<string>😣</string>
					<string>😞</string>
					<string>😓</string>
					<string>😩</string>
					<string>😫</string>
					<string>🥱</string>
				</array>
			</dict>
			<dict>
				<key>face-negative</key>
				<array>
					<string>😤</string>
					<string>😡</string>
					<string>😠</string>
					<string>🤬</string>
					<string>😈</string>
					<string>👿</string>
					<string>💀</string>
					<string>☠️</string>
				</array>
			</dict>
			<dict>
				<key>face-costume</key>
				<array>
					<string>💩</string>
					<string>🤡</string>
					<string>👹</string>
					<string>👺</string>
					<string>👻</string>
					<string>👽</string>
					<string>👾</string>
					<string>🤖</string>
				</array>
			</dict>
			<dict>
				<key>cat-face</key>
				<array>
					<string>😺</string>
					<string>😸</string>
					<string>😹</string>
					<string>😻</string>
					<string>😼</string>
					<string>😽</string>
					<string>🙀</string>
					<string>😿</string>
					<string>😾</string>
				</array>
			</dict>
			<dict>
				<key>monkey-face</key>
				<array>
					<string>🙈</string>
					<string>🙉</string>
					<string>🙊</string>
				</array>
			</dict>
			<dict>
				<key>emotion</key>
				<array>
					<string>💋</string>
					<string>💌</string>
					<string>💘</string>
					<string>💝</string>
					<string>💖</string>
					<string>💗</string>
					<string>💓</string>
					<string>💞</string>
					<string>💕</string>
					<string>💟</string>
					<string>❣️</string>
					<string>💔</string>
					<string>❤️</string>
					<string>🧡</string>
					<string>💛</string>
					<string>💚</string>
					<string>💙</string>
					<string>💜</string>
					<string>🤎</string>
					<string>🖤</string>
					<string>🤍</string>
					<string>💯</string>
					<string>💢</string>
					<string>💥</string>
					<string>💫</string>
					<string>💦</string>
					<string>💨</string>
					<string>🕳️</string>
					<string>💣</string>
					<string>💬</string>
					<string>👁‍🗨</string>
					<string>🗨️</string>
					<string>🗯️</string>
					<string>💭</string>
					<string>💤</string>
				</array>
			</dict>
			<dict>
				<key>hand-fingers-open</key>
				<array>
					<string>👋</string>
					<string>🤚</string>
					<string>🖐️</string>
					<string>✋</string>
					<string>🖖</string>
				</array>
			</dict>
			<dict>
				<key>hand-fingers-partial</key>
				<array>
					<string>👌</string>
					<string>🤏</string>
					<string>✌️</string>
					<string>🤞</string>
					<string>🤟</string>
					<string>🤘</string>
					<string>🤙</string>
				</array>
			</dict>
			<dict>
				<key>hand-single-finger</key>
				<array>
					<string>👈</string>
					<string>👉</string>
					<string>👆</string>
					<string>🖕</string>
					<string>👇</string>
					<string>☝️</string>
				</array>
			</dict>
			<dict>
				<key>hand-fingers-closed</key>
				<array>
					<string>👍</string>
					<string>👎</string>
					<string>✊</string>
					<string>👊</string>
					<string>🤛</string>
					<string>🤜</string>
				</array>
			</dict>
			<dict>
				<key>hands</key>
				<array>
					<string>👏</string>
					<string>🙌</string>
					<string>👐</string>
					<string>🤲</string>
					<string>🤝</string>
					<string>🙏</string>
				</array>
			</dict>
			<dict>
				<key>hand-prop</key>
				<array>
					<string>✍️</string>
					<string>💅</string>
					<string>🤳</string>
				</array>
			</dict>
			<dict>
				<key>body-parts</key>
				<array>
					<string>💪</string>
					<string>🦾</string>
					<string>🦿</string>
					<string>🦵</string>
					<string>🦶</string>
					<string>👂</string>
					<string>🦻</string>
					<string>👃</string>
					<string>🧠</string>
					<string>🦷</string>
					<string>🦴</string>
					<string>👀</string>
					<string>👁️</string>
					<string>👅</string>
					<string>👄</string>
				</array>
			</dict>
			<dict>
				<key>person</key>
				<array>
					<string>👶</string>
					<string>🧒</string>
					<string>👦</string>
					<string>👧</string>
					<string>🧑</string>
					<string>👱</string>
					<string>👨</string>
					<string>🧔</string>
					<string>👱‍♂️</string>
					<string>👨‍🦰</string>
					<string>👩</string>
					<string>👱‍♀️</string>
					<string>👩‍🦰</string>
					<string>🧓</string>
					<string>👴</string>
					<string>👵</string>
				</array>
			</dict>
			<dict>
				<key>person-fantasy</key>
				<array>
					<string>👼</string>
					<string>🎅</string>
					<string>🤶</string>
					<string>🦸</string>
					<string>🦸‍♂️</string>
					<string>🦸🏻‍♂️</string>
					<string>🦸‍♀️</string>
					<string>🦸🏻‍♀️</string>
					<string>🧙</string>
					<string>🧚</string>
					<string>🧛</string>
					<string>🧜</string>
					<string>🧝</string>
					<string>🧞</string>
				</array>
			</dict>
			<dict>
				<key>person-activity</key>
				<array>
					<string>💆</string>
					<string>💇</string>
					<string>🚶</string>
					<string>🧍</string>
					<string>🧎</string>
					<string>👨‍🦯</string>
					<string>👩‍🦯</string>
					<string>👨‍🦼</string>
					<string>👩‍🦼</string>
					<string>🏃</string>
					<string>💃</string>
					<string>🕺</string>
					<string>🕴</string>
					<string>👯</string>
					<string>🧖</string>
					<string>🧗</string>
				</array>
			</dict>
			<dict>
				<key>person-sport</key>
				<array>
					<string>🤺</string>
					<string>🏇</string>
					<string>⛷️</string>
					<string>🏂</string>
					<string>🏌️</string>
					<string>🏌️‍♂️</string>
					<string>🏌️‍♀️</string>
					<string>🏄</string>
					<string>🏄‍♂️</string>
					<string>🏄‍♀️</string>
					<string>🚣</string>
					<string>🚣‍♂️</string>
					<string>🚣‍♀️</string>
					<string>🏊</string>
					<string>🏊‍♂️</string>
					<string>🏊‍♀️</string>
					<string>⛹️</string>
					<string>⛹️‍♂️</string>
					<string>⛹️‍♀️</string>
					<string>🏋️</string>
					<string>🏋️‍♂️</string>
					<string>🏋️‍♀️</string>
					<string>🚴</string>
					<string>🚴‍♂️</string>
					<string>🚴‍♀️</string>
					<string>🚵</string>
					<string>🚵‍♂️</string>
					<string>🚵‍♀️</string>
					<string>🤸</string>
					<string>🤸‍♂️</string>
					<string>🤸‍♂️</string>
					<string>🤼</string>
					<string>🤼‍♂️</string>
					<string>🤼‍♀️</string>
					<string>🤽</string>
					<string>🤽‍♂️</string>
					<string>🤽‍♀️</string>
					<string>🤾</string>
					<string>🤾‍♂️</string>
					<string>🤾‍♀️</string>
					<string>🤹</string>
					<string>🤹‍♂️</string>
					<string>🤹‍♀️</string>
				</array>
			</dict>
			<dict>
				<key>person-resting</key>
				<array>
					<string>🧘</string>
					<string>🧘‍♂️</string>
					<string>🧘‍♀️</string>
					<string>🛀</string>
					<string>🛌</string>
				</array>
			</dict>
			<dict>
				<key>family</key>
				<array>
					<string>🧑‍🤝‍🧑</string>
					<string>👭</string>
					<string>👫</string>
					<string>👬</string>
					<string>💏</string>
					<string>👩‍❤️‍💋‍👨</string>
					<string>👨‍❤️‍💋‍👨</string>
					<string>👩‍❤️‍💋‍👩</string>
					<string>💑</string>
					<string>👩‍❤️‍👨</string>
					<string>👨‍❤️‍👨</string>
					<string>👩‍❤️‍👩</string>
					<string>👪</string>
					<string>👨‍👩‍👦</string>
					<string>👨‍👩‍👧</string>
					<string>👨‍👩‍👧‍👦</string>
					<string>👨‍👩‍👦‍👦</string>
					<string>👨‍👩‍👧‍👧</string>
					<string>👨‍👨‍👦</string>
					<string>👨‍👨‍👧</string>
					<string>👨‍👨‍👧‍👦</string>
					<string>👨‍👨‍👦‍👦</string>
					<string>👨‍👨‍👧‍👧</string>
					<string>👩‍👩‍👦</string>
					<string>👩‍👩‍👧</string>
					<string>👩‍👩‍👧‍👦</string>
					<string>👩‍👩‍👦‍👦</string>
					<string>👩‍👩‍👧‍👧</string>
					<string>👨‍👦</string>
					<string>👨‍👦‍👦</string>
					<string>👨‍👧</string>
					<string>👨‍👧‍👦</string>
					<string>👨‍👧‍👧</string>
					<string>👩‍👦</string>
					<string>👩‍👦‍👦</string>
					<string>👩‍👧</string>
					<string>👩‍👧‍👦</string>
					<string>👩‍👧‍👧</string>
				</array>
			</dict>
			<dict>
				<key>person-symbol</key>
				<array>
					<string>🗣️</string>
					<string>👤</string>
					<string>👥</string>
					<string>🫂</string>
					<string>👣</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Animals Nature</key>
		<array>
			<dict>
				<key>animal-mammal</key>
				<array>
					<string>🐵</string>
					<string>🐒</string>
					<string>🦍</string>
					<string>🦧</string>
					<string>🐶</string>
					<string>🐕</string>
					<string>🦮</string>
					<string>🐕‍🦺</string>
					<string>🐩</string>
					<string>🐺</string>
					<string>🦊</string>
					<string>🦝</string>
					<string>🐱</string>
					<string>🐈</string>
					<string>🦁</string>
					<string>🐯</string>
					<string>🐅</string>
					<string>🐆</string>
					<string>🐴</string>
					<string>🐎</string>
					<string>🦄</string>
					<string>🦓</string>
					<string>🦌</string>
					<string>🐮</string>
					<string>🐂</string>
					<string>🐃</string>
					<string>🐄</string>
					<string>🐷</string>
					<string>🐖</string>
					<string>🐗</string>
					<string>🐽</string>
					<string>🐏</string>
					<string>🐑</string>
					<string>🐐</string>
					<string>🐪</string>
					<string>🐫</string>
					<string>🦙</string>
					<string>🦒</string>
					<string>🐘</string>
					<string>🦏</string>
					<string>🦛</string>
					<string>🐭</string>
					<string>🐁</string>
					<string>🐀</string>
					<string>🐹</string>
					<string>🐰</string>
					<string>🐇</string>
					<string>🐿️</string>
					<string>🐿</string>
					<string>🦔</string>
					<string>🦇</string>
					<string>🐻</string>
					<string>🐨</string>
					<string>🐼</string>
					<string>🦥</string>
					<string>🦦</string>
					<string>🦨</string>
					<string>🦘</string>
					<string>🦡</string>
					<string>🐾</string>
				</array>
			</dict>
			<dict>
				<key>animal-bird</key>
				<array>
					<string>🦃</string>
					<string>🐔</string>
					<string>🐓</string>
					<string>🐣</string>
					<string>🐤</string>
					<string>🐥</string>
					<string>🐦</string>
					<string>🐧</string>
					<string>🕊️</string>
					<string>🕊</string>
					<string>🦅</string>
					<string>🦆</string>
					<string>🦢</string>
					<string>🦉</string>
					<string>🦩</string>
					<string>🦚</string>
					<string>🦜</string>
				</array>
			</dict>
			<dict>
				<key>animal-amphibian</key>
				<array>
					<string>🐸</string>
				</array>
			</dict>
			<dict>
				<key>animal-reptile</key>
				<array>
					<string>🐊</string>
					<string>🐢</string>
					<string>🦎</string>
					<string>🐍</string>
					<string>🐲</string>
					<string>🐉</string>
					<string>🦕</string>
					<string>🦖</string>
				</array>
			</dict>
			<dict>
				<key>animal-marine</key>
				<array>
					<string>🐳</string>
					<string>🐋</string>
					<string>🐬</string>
					<string>🐟</string>
					<string>🐠</string>
					<string>🐡</string>
					<string>🦈</string>
					<string>🐙</string>
					<string>🐚</string>
				</array>
			</dict>
			<dict>
				<key>animal-bug</key>
				<array>
					<string>🐌</string>
					<string>🦋</string>
					<string>🐛</string>
					<string>🐜</string>
					<string>🐝</string>
					<string>🐞</string>
					<string>🦗</string>
					<string>🕷️</string>
					<string>🕸️</string>
					<string>🦂</string>
					<string>🦟</string>
					<string>🦠</string>
				</array>
			</dict>
			<dict>
				<key>plant-flower</key>
				<array>
					<string>💐</string>
					<string>🌸</string>
					<string>💮</string>
					<string>🏵️</string>
					<string>🏵</string>
					<string>🌹</string>
					<string>🥀</string>
					<string>🌺</string>
					<string>🌻</string>
					<string>🌼</string>
					<string>🌷</string>
				</array>
			</dict>
			<dict>
				<key>plant-other</key>
				<array>
					<string>🌱</string>
					<string>🌲</string>
					<string>🌳</string>
					<string>🌴</string>
					<string>🌵</string>
					<string>🌾</string>
					<string>🌿</string>
					<string>☘️</string>
					<string>☘</string>
					<string>🍀</string>
					<string>🍁</string>
					<string>🍂</string>
					<string>🍃</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Food Drink</key>
		<array>
			<dict>
				<key>food-fruit</key>
				<array>
					<string>🍇</string>
					<string>🍈</string>
					<string>🍉</string>
					<string>🍊</string>
					<string>🍋</string>
					<string>🍌</string>
					<string>🍍</string>
					<string>🥭</string>
					<string>🍎</string>
					<string>🍏</string>
					<string>🍐</string>
					<string>🍑</string>
					<string>🍒</string>
					<string>🍓</string>
					<string>🥝</string>
					<string>🍅</string>
					<string>🥥</string>
				</array>
			</dict>
			<dict>
				<key>food-vegetable</key>
				<array>
					<string>🥑</string>
					<string>🍆</string>
					<string>🥔</string>
					<string>🥕</string>
					<string>🌽</string>
					<string>🌶️</string>
					<string>🌶</string>
					<string>🥒</string>
					<string>🥬</string>
					<string>🥦</string>
					<string>🧄</string>
					<string>🧅</string>
					<string>🍄</string>
					<string>🥜</string>
					<string>🌰</string>
				</array>
			</dict>
			<dict>
				<key>food-prepared</key>
				<array>
					<string>🍞</string>
					<string>🥐</string>
					<string>🥖</string>
					<string>🥨</string>
					<string>🥯</string>
					<string>🥞</string>
					<string>🧇</string>
					<string>🧀</string>
					<string>🍖</string>
					<string>🍗</string>
					<string>🥩</string>
					<string>🥓</string>
					<string>🍔</string>
					<string>🍟</string>
					<string>🍕</string>
					<string>🌭</string>
					<string>🥪</string>
					<string>🌮</string>
					<string>🌯</string>
					<string>🥙</string>
					<string>🧆</string>
					<string>🥚</string>
					<string>🍳</string>
					<string>🥘</string>
					<string>🍲</string>
					<string>🥣</string>
					<string>🥗</string>
					<string>🍿</string>
					<string>🧈</string>
					<string>🧂</string>
					<string>🥫</string>
				</array>
			</dict>
			<dict>
				<key>food-asian</key>
				<array>
					<string>🍱</string>
					<string>🍘</string>
					<string>🍙</string>
					<string>🍚</string>
					<string>🍛</string>
					<string>🍜</string>
					<string>🍝</string>
					<string>🍠</string>
					<string>🍢</string>
					<string>🍣</string>
					<string>🍤</string>
					<string>🍥</string>
					<string>🥮</string>
					<string>🍡</string>
					<string>🥟</string>
					<string>🥠</string>
					<string>🥡</string>
				</array>
			</dict>
			<dict>
				<key>food-marine</key>
				<array>
					<string>🦀</string>
					<string>🦞</string>
					<string>🦐</string>
					<string>🦑</string>
					<string>🦪</string>
				</array>
			</dict>
			<dict>
				<key>food-sweet</key>
				<array>
					<string>🍦</string>
					<string>🍧</string>
					<string>🍨</string>
					<string>🍩</string>
					<string>🍪</string>
					<string>🎂</string>
					<string>🍰</string>
					<string>🧁</string>
					<string>🥧</string>
					<string>🍫</string>
					<string>🍬</string>
					<string>🍭</string>
					<string>🍮</string>
					<string>🍯</string>
				</array>
			</dict>
			<dict>
				<key>drink</key>
				<array>
					<string>🍼</string>
					<string>🥛</string>
					<string>☕</string>
					<string>🍵</string>
					<string>🍶</string>
					<string>🍾</string>
					<string>🍷</string>
					<string>🍸</string>
					<string>🍹</string>
					<string>🍺</string>
					<string>🍻</string>
					<string>🥂</string>
					<string>🥃</string>
					<string>🥤</string>
					<string>🧃</string>
					<string>🧉</string>
					<string>🧊</string>
				</array>
			</dict>
			<dict>
				<key>dishware</key>
				<array>
					<string>🥢</string>
					<string>🍽️</string>
					<string>🍽</string>
					<string>🍴</string>
					<string>🥄</string>
					<string>🔪</string>
					<string>🏺</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Activities</key>
		<array>
			<dict>
				<key>event</key>
				<array>
					<string>🎃</string>
					<string>🎄</string>
					<string>🎆</string>
					<string>🎇</string>
					<string>🧨</string>
					<string>✨</string>
					<string>🎈</string>
					<string>🎉</string>
					<string>🎊</string>
					<string>🎋</string>
					<string>🎍</string>
					<string>🎎</string>
					<string>🎏</string>
					<string>🎐</string>
					<string>🎑</string>
					<string>🧧</string>
					<string>🎀</string>
					<string>🎁</string>
					<string>🎗️</string>
					<string>🎗</string>
					<string>🎟️</string>
					<string>🎟</string>
					<string>🎫</string>
				</array>
			</dict>
			<dict>
				<key>award-medal</key>
				<array>
					<string>🎖️</string>
					<string>🎖</string>
					<string>🏆</string>
					<string>🏅</string>
					<string>🥇</string>
					<string>🥈</string>
					<string>🥉</string>
				</array>
			</dict>
			<dict>
				<key>sport</key>
				<array>
					<string>⚽</string>
					<string>⚾</string>
					<string>🥎</string>
					<string>🏀</string>
					<string>🏐</string>
					<string>🏈</string>
					<string>🏉</string>
					<string>🎾</string>
					<string>🥏</string>
					<string>🎳</string>
					<string>🏏</string>
					<string>🏑</string>
					<string>🏒</string>
					<string>🥍</string>
					<string>🏓</string>
					<string>🏸</string>
					<string>🥊</string>
					<string>🥋</string>
					<string>🥅</string>
					<string>⛳</string>
					<string>⛸️</string>
					<string>⛸</string>
					<string>🎣</string>
					<string>🤿</string>
					<string>🎽</string>
					<string>🎿</string>
					<string>🛷</string>
					<string>🥌</string>
				</array>
			</dict>
			<dict>
				<key>game</key>
				<array>
					<string>🎯</string>
					<string>🪀</string>
					<string>🪁</string>
					<string>🎱</string>
					<string>🔮</string>
					<string>🧿</string>
					<string>🎮</string>
					<string>🕹️</string>
					<string>🎰</string>
					<string>🎲</string>
					<string>🧩</string>
					<string>🧸</string>
					<string>♠️</string>
					<string>♥️</string>
					<string>♦️</string>
					<string>♣️</string>
					<string>♟️</string>
					<string>🃏</string>
					<string>🀄</string>
					<string>🎴</string>
				</array>
			</dict>
			<dict>
				<key>arts crafts</key>
				<array>
					<string>🎭</string>
					<string>🖼️</string>
					<string>🎨</string>
					<string>🧵</string>
					<string>🧶</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Travel Places</key>
		<array>
			<dict>
				<key>place-map</key>
				<array>
					<string>🌍</string>
					<string>🌎</string>
					<string>🌏</string>
					<string>🌐</string>
					<string>🗺️</string>
					<string>🗺</string>
					<string>🗾</string>
					<string>🧭</string>
				</array>
			</dict>
			<dict>
				<key>place-geographic</key>
				<array>
					<string>🏔️</string>
					<string>🏔</string>
					<string>⛰️</string>
					<string>⛰</string>
					<string>🌋</string>
					<string>🗻</string>
					<string>🏕️</string>
					<string>🏕</string>
					<string>🏖️</string>
					<string>🏖</string>
					<string>🏜️</string>
					<string>🏜</string>
					<string>🏝️</string>
					<string>🏝</string>
					<string>🏞️</string>
					<string>🏞</string>
				</array>
			</dict>
			<dict>
				<key>place-building</key>
				<array>
					<string>🏟️</string>
					<string>🏛️</string>
					<string>🏗️</string>
					<string>🏗</string>
					<string>🧱</string>
					<string>🏘️</string>
					<string>🏚️</string>
					<string>🏠</string>
					<string>🏡</string>
					<string>🏢</string>
					<string>🏣</string>
					<string>🏤</string>
					<string>🏥</string>
					<string>🏦</string>
					<string>🏨</string>
					<string>🏩</string>
					<string>🏪</string>
					<string>🏫</string>
					<string>🏬</string>
					<string>🏭</string>
					<string>🏯</string>
					<string>🏰</string>
					<string>💒</string>
					<string>🗼</string>
					<string>🗽</string>
				</array>
			</dict>
			<dict>
				<key>place-religious</key>
				<array>
					<string>⛪</string>
					<string>🕌</string>
					<string>🛕</string>
					<string>🕍</string>
					<string>⛩️</string>
					<string>🕋</string>
				</array>
			</dict>
			<dict>
				<key>place-other</key>
				<array>
					<string>⛲</string>
					<string>⛺</string>
					<string>🌁</string>
					<string>🌃</string>
					<string>🏙️</string>
					<string>🏙</string>
					<string>🌄</string>
					<string>🌅</string>
					<string>🌆</string>
					<string>🌇</string>
					<string>🌉</string>
					<string>♨️</string>
					<string>♨</string>
					<string>🎠</string>
					<string>🎡</string>
					<string>🎢</string>
					<string>💈</string>
					<string>🎪</string>
				</array>
			</dict>
			<dict>
				<key>transport-ground</key>
				<array>
					<string>🚂</string>
					<string>🚃</string>
					<string>🚄</string>
					<string>🚅</string>
					<string>🚆</string>
					<string>🚇</string>
					<string>🚈</string>
					<string>🚉</string>
					<string>🚊</string>
					<string>🚝</string>
					<string>🚞</string>
					<string>🚋</string>
					<string>🚌</string>
					<string>🚍</string>
					<string>🚎</string>
					<string>🚐</string>
					<string>🚑</string>
					<string>🚒</string>
					<string>🚓</string>
					<string>🚔</string>
					<string>🚕</string>
					<string>🚖</string>
					<string>🚗</string>
					<string>🚘</string>
					<string>🚙</string>
					<string>🚚</string>
					<string>🚛</string>
					<string>🚜</string>
					<string>🏎️</string>
					<string>🏎</string>
					<string>🏍️</string>
					<string>🏍</string>
					<string>🛵</string>
					<string>🦽</string>
					<string>🦼</string>
					<string>🛺</string>
					<string>🚲</string>
					<string>🛴</string>
					<string>🛹</string>
					<string>🚏</string>
					<string>🛣️</string>
					<string>🛤️</string>
					<string>🛢️</string>
					<string>⛽</string>
					<string>🚨</string>
					<string>🚥</string>
					<string>🚦</string>
					<string>🛑</string>
					<string>🚧</string>
				</array>
			</dict>
			<dict>
				<key>transport-water</key>
				<array>
					<string>⚓</string>
					<string>⛵</string>
					<string>🛶</string>
					<string>🚤</string>
					<string>🛳️</string>
					<string>⛴️</string>
					<string>🛥</string>
					<string>🚢</string>
				</array>
			</dict>
			<dict>
				<key>transport-air</key>
				<array>
					<string>✈️</string>
					<string>✈</string>
					<string>🛩️</string>
					<string>🛫</string>
					<string>🛬</string>
					<string>🪂</string>
					<string>💺</string>
					<string>🚁</string>
					<string>🚟</string>
					<string>🚠</string>
					<string>🚡</string>
					<string>🛰️</string>
					<string>🛰</string>
					<string>🚀</string>
					<string>🛸</string>
				</array>
			</dict>
			<dict>
				<key>hotel</key>
				<array>
					<string>🛎️</string>
					<string>🧳</string>
				</array>
			</dict>
			<dict>
				<key>time</key>
				<array>
					<string>⌛</string>
					<string>⏳</string>
					<string>⌚</string>
					<string>⏰</string>
					<string>⏱️</string>
					<string>⏲️</string>
					<string>🕰️</string>
					<string>🕛</string>
					<string>🕧</string>
					<string>🕐</string>
					<string>🕜</string>
					<string>🕑</string>
					<string>🕝</string>
					<string>🕒</string>
					<string>🕞</string>
					<string>🕓</string>
					<string>🕟</string>
					<string>🕔</string>
					<string>🕠</string>
					<string>🕕</string>
					<string>🕡</string>
					<string>🕖</string>
					<string>🕢</string>
					<string>🕗</string>
					<string>🕣</string>
					<string>🕘</string>
					<string>🕤</string>
					<string>🕙</string>
					<string>🕥</string>
					<string>🕚</string>
					<string>🕦</string>
				</array>
			</dict>
			<dict>
				<key>sky weather</key>
				<array>
					<string>🌑</string>
					<string>🌒</string>
					<string>🌓</string>
					<string>🌔</string>
					<string>🌕</string>
					<string>🌖</string>
					<string>🌗</string>
					<string>🌘</string>
					<string>🌙</string>
					<string>🌚</string>
					<string>🌛</string>
					<string>🌜</string>
					<string>🌡️</string>
					<string>🌡</string>
					<string>☀️</string>
					<string>☀</string>
					<string>🌝</string>
					<string>🌞</string>
					<string>🪐</string>
					<string>⭐</string>
					<string>🌟</string>
					<string>🌠</string>
					<string>🌌</string>
					<string>☁️</string>
					<string>☁</string>
					<string>⛅</string>
					<string>⛈️</string>
					<string>⛈</string>
					<string>🌤️</string>
					<string>🌤</string>
					<string>🌥️</string>
					<string>🌥</string>
					<string>🌦️</string>
					<string>🌦</string>
					<string>🌧️</string>
					<string>🌧</string>
					<string>🌨️</string>
					<string>🌨</string>
					<string>🌩️</string>
					<string>🌩</string>
					<string>🌪️</string>
					<string>🌪</string>
					<string>🌫️</string>
					<string>🌫</string>
					<string>🌬️</string>
					<string>🌬</string>
					<string>🌀</string>
					<string>🌈</string>
					<string>🌂</string>
					<string>☂️</string>
					<string>☂</string>
					<string>☔</string>
					<string>⛱️</string>
					<string>⛱</string>
					<string>⚡</string>
					<string>❄️</string>
					<string>❄</string>
					<string>☃️</string>
					<string>☃</string>
					<string>⛄</string>
					<string>☄️</string>
					<string>☄</string>
					<string>🔥</string>
					<string>💧</string>
					<string>🌊</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Objects</key>
		<array>
			<dict>
				<key>clothing</key>
				<array>
					<string>👓</string>
					<string>🕶️</string>
					<string>🥽</string>
					<string>🥼</string>
					<string>🦺</string>
					<string>👔</string>
					<string>👕</string>
					<string>👖</string>
					<string>🧣</string>
					<string>🧤</string>
					<string>🧥</string>
					<string>🧦</string>
					<string>👗</string>
					<string>👘</string>
					<string>🥻</string>
					<string>🩱</string>
					<string>🩲</string>
					<string>🩳</string>
					<string>👙</string>
					<string>👚</string>
					<string>👛</string>
					<string>👜</string>
					<string>👝</string>
					<string>🛍️</string>
					<string>🛍</string>
					<string>🎒</string>
					<string>👞</string>
					<string>👟</string>
					<string>🥾</string>
					<string>🥿</string>
					<string>👠</string>
					<string>👡</string>
					<string>🩰</string>
					<string>👢</string>
					<string>👑</string>
					<string>👒</string>
					<string>🎩</string>
					<string>🎓</string>
					<string>🧢</string>
					<string>⛑️</string>
					<string>⛑</string>
					<string>📿</string>
					<string>💄</string>
					<string>💍</string>
					<string>💎</string>
				</array>
			</dict>
			<dict>
				<key>sound</key>
				<array>
					<string>🔇</string>
					<string>🔈</string>
					<string>🔉</string>
					<string>🔊</string>
					<string>📢</string>
					<string>📣</string>
					<string>📯</string>
					<string>🔔</string>
					<string>🔕</string>
				</array>
			</dict>
			<dict>
				<key>music</key>
				<array>
					<string>🎼</string>
					<string>🎵</string>
					<string>🎶</string>
					<string>🎙️</string>
					<string>🎙</string>
					<string>🎚️</string>
					<string>🎚</string>
					<string>🎛️</string>
					<string>🎛</string>
					<string>🎤</string>
					<string>🎧</string>
					<string>📻</string>
				</array>
			</dict>
			<dict>
				<key>musical-instrument</key>
				<array>
					<string>🎷</string>
					<string>🎸</string>
					<string>🎹</string>
					<string>🎺</string>
					<string>🎻</string>
					<string>🪕</string>
					<string>🥁</string>
				</array>
			</dict>
			<dict>
				<key>phone</key>
				<array>
					<string>📱</string>
					<string>📲</string>
					<string>☎️</string>
					<string>☎</string>
					<string>📞</string>
					<string>📟</string>
					<string>📠</string>
				</array>
			</dict>
			<dict>
				<key>computer</key>
				<array>
					<string>🔋</string>
					<string>🔌</string>
					<string>💻</string>
					<string>🖥️</string>
					<string>🖥</string>
					<string>🖨️</string>
					<string>🖨</string>
					<string>⌨️</string>
					<string>⌨</string>
					<string>🖱️</string>
					<string>🖱</string>
					<string>🖲️</string>
					<string>🖲</string>
					<string>💽</string>
					<string>💾</string>
					<string>💿</string>
					<string>📀</string>
					<string>🧮</string>
				</array>
			</dict>
			<dict>
				<key>light video</key>
				<array>
					<string>🎥</string>
					<string>🎞️</string>
					<string>🎞</string>
					<string>📽️</string>
					<string>📽</string>
					<string>🎬</string>
					<string>📺</string>
					<string>📷</string>
					<string>📸</string>
					<string>📹</string>
					<string>📼</string>
					<string>🔍</string>
					<string>🔎</string>
					<string>🕯️</string>
					<string>🕯</string>
					<string>💡</string>
					<string>🔦</string>
					<string>🏮</string>
					<string>🪔</string>
				</array>
			</dict>
			<dict>
				<key>book-paper</key>
				<array>
					<string>📔</string>
					<string>📕</string>
					<string>📖</string>
					<string>📗</string>
					<string>📘</string>
					<string>📙</string>
					<string>📚</string>
					<string>📓</string>
					<string>📒</string>
					<string>📃</string>
					<string>📜</string>
					<string>📄</string>
					<string>📰</string>
					<string>🗞️</string>
					<string>🗞</string>
					<string>📑</string>
					<string>🔖</string>
					<string>🏷️</string>
					<string>🏷</string>
				</array>
			</dict>
			<dict>
				<key>money</key>
				<array>
					<string>💰</string>
					<string>💴</string>
					<string>💵</string>
					<string>💶</string>
					<string>💷</string>
					<string>💸</string>
					<string>💳</string>
					<string>🧾</string>
					<string>💹</string>
					<string>💱</string>
					<string>💲</string>
				</array>
			</dict>
			<dict>
				<key>mail</key>
				<array>
					<string>✉️</string>
					<string>📧</string>
					<string>📨</string>
					<string>📩</string>
					<string>📤</string>
					<string>📦</string>
					<string>📫</string>
					<string>📪</string>
					<string>📬</string>
					<string>📭</string>
					<string>📮</string>
					<string>🗳️</string>
				</array>
			</dict>
			<dict>
				<key>writing</key>
				<array>
					<string>✏️</string>
					<string>✏</string>
					<string>✒️</string>
					<string>✒</string>
					<string>🖋️</string>
					<string>🖋</string>
					<string>🖊️</string>
					<string>🖊</string>
					<string>🖌️</string>
					<string>🖌</string>
					<string>🖍️</string>
					<string>🖍</string>
					<string>📝</string>
				</array>
			</dict>
			<dict>
				<key>office</key>
				<array>
					<string>💼</string>
					<string>📁</string>
					<string>📂</string>
					<string>🗂️</string>
					<string>🗂</string>
					<string>📅</string>
					<string>📆</string>
					<string>🗒️</string>
					<string>🗒</string>
					<string>🗓️</string>
					<string>🗓</string>
					<string>📇</string>
					<string>📈</string>
					<string>📉</string>
					<string>📊</string>
					<string>📋</string>
					<string>📌</string>
					<string>📍</string>
					<string>📎</string>
					<string>🖇️</string>
					<string>🖇</string>
					<string>📏</string>
					<string>📐</string>
					<string>✂️</string>
					<string>✂</string>
					<string>🗃️</string>
					<string>🗃</string>
					<string>🗄️</string>
					<string>🗄</string>
					<string>🗑️</string>
					<string>🗑</string>
				</array>
			</dict>
			<dict>
				<key>lock</key>
				<array>
					<string>🔒</string>
					<string>🔓</string>
					<string>🔏</string>
					<string>🔐</string>
					<string>🔑</string>
					<string>🗝️</string>
					<string>🗝</string>
				</array>
			</dict>
			<dict>
				<key>tool</key>
				<array>
					<string>🔨</string>
					<string>🪓</string>
					<string>⛏️</string>
					<string>⛏</string>
					<string>⚒️</string>
					<string>🛠️</string>
					<string>🗡️</string>
					<string>⚔️</string>
					<string>⚔</string>
					<string>🔫</string>
					<string>🏹</string>
					<string>🛡️</string>
					<string>🛡</string>
					<string>🔧</string>
					<string>🔩</string>
					<string>⚙️</string>
					<string>🗜️</string>
					<string>🗜</string>
					<string>⚖️</string>
					<string>🦯</string>
					<string>🔗</string>
					<string>⛓️</string>
					<string>🧰</string>
					<string>🧲</string>
				</array>
			</dict>
			<dict>
				<key>science</key>
				<array>
					<string>⚗️</string>
					<string>⚗</string>
					<string>🧪</string>
					<string>🧫</string>
					<string>🧬</string>
					<string>🔬</string>
					<string>🔭</string>
					<string>📡</string>
				</array>
			</dict>
			<dict>
				<key>medical</key>
				<array>
					<string>💉</string>
					<string>🩸</string>
					<string>💊</string>
					<string>🩹</string>
					<string>🩺</string>
				</array>
			</dict>
			<dict>
				<key>household</key>
				<array>
					<string>🚪</string>
					<string>🛏️</string>
					<string>🛏</string>
					<string>🛋️</string>
					<string>🛋</string>
					<string>🪑</string>
					<string>🚽</string>
					<string>🚿</string>
					<string>🛁</string>
					<string>🪒</string>
					<string>🧴</string>
					<string>🧷</string>
					<string>🧹</string>
					<string>🧺</string>
					<string>🧻</string>
					<string>🧼</string>
					<string>🧽</string>
					<string>🧯</string>
					<string>🛒</string>
				</array>
			</dict>
			<dict>
				<key>other-object</key>
				<array>
					<string>🚬</string>
					<string>⚰️</string>
					<string>⚱️</string>
					<string>🗿</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Flags</key>
		<array>
			<dict>
				<key>country-flag</key>
				<array>
					<string>🇦🇨</string>
					<string>🇦🇩</string>
					<string>🇦🇪</string>
					<string>🇦🇫</string>
					<string>🇦🇬</string>
					<string>🇦🇮</string>
					<string>🇦🇱</string>
					<string>🇦🇲</string>
					<string>🇦🇴</string>
					<string>🇦🇶</string>
					<string>🇦🇷</string>
					<string>🇦🇸</string>
					<string>🇦🇹</string>
					<string>🇦🇺</string>
					<string>🇦🇼</string>
					<string>🇦🇽</string>
					<string>🇦🇿</string>
					<string>🇧🇦</string>
					<string>🇧🇧</string>
					<string>🇧🇩</string>
					<string>🇧🇪</string>
					<string>🇧🇫</string>
					<string>🇧🇬</string>
					<string>🇧🇭</string>
					<string>🇧🇮</string>
					<string>🇧🇯</string>
					<string>🇧🇱</string>
					<string>🇧🇲</string>
					<string>🇧🇳</string>
					<string>🇧🇴</string>
					<string>🇧🇶</string>
					<string>🇧🇷</string>
					<string>🇧🇸</string>
					<string>🇧🇹</string>
					<string>🇧🇻</string>
					<string>🇧🇼</string>
					<string>🇧🇾</string>
					<string>🇧🇿</string>
					<string>🇨🇦</string>
					<string>🇨🇨</string>
					<string>🇨🇩</string>
					<string>🇨🇫</string>
					<string>🇨🇬</string>
					<string>🇨🇭</string>
					<string>🇨🇮</string>
					<string>🇨🇰</string>
					<string>🇨🇱</string>
					<string>🇨🇲</string>
					<string>🇨🇳</string>
					<string>🇨🇴</string>
					<string>🇨🇵</string>
					<string>🇨🇷</string>
					<string>🇨🇺</string>
					<string>🇨🇻</string>
					<string>🇨🇼</string>
					<string>🇨🇽</string>
					<string>🇨🇾</string>
					<string>🇨🇿</string>
					<string>🇩🇪</string>
					<string>🇩🇬</string>
					<string>🇩🇯</string>
					<string>🇩🇰</string>
					<string>🇩🇲</string>
					<string>🇩🇴</string>
					<string>🇩🇿</string>
					<string>🇪🇦</string>
					<string>🇪🇨</string>
					<string>🇪🇪</string>
					<string>🇪🇬</string>
					<string>🇪🇭</string>
					<string>🇪🇷</string>
					<string>🇪🇸</string>
					<string>🇪🇹</string>
					<string>🇪🇺</string>
					<string>🇫🇮</string>
					<string>🇫🇯</string>
					<string>🇫🇰</string>
					<string>🇫🇲</string>
					<string>🇫🇴</string>
					<string>🇫🇷</string>
					<string>🇬🇦</string>
					<string>🇬🇧</string>
					<string>🇬🇩</string>
					<string>🇬🇪</string>
					<string>🇬🇫</string>
					<string>🇬🇬</string>
					<string>🇬🇭</string>
					<string>🇬🇮</string>
					<string>🇬🇱</string>
					<string>🇬🇲</string>
					<string>🇬🇳</string>
					<string>🇬🇵</string>
					<string>🇬🇶</string>
					<string>🇬🇷</string>
					<string>🇬🇸</string>
					<string>🇬🇹</string>
					<string>🇬🇺</string>
					<string>🇬🇼</string>
					<string>🇬🇾</string>
					<string>🇭🇰</string>
					<string>🇭🇲</string>
					<string>🇭🇳</string>
					<string>🇭🇷</string>
					<string>🇭🇹</string>
					<string>🇭🇺</string>
					<string>🇮🇨</string>
					<string>🇮🇩</string>
					<string>🇮🇪</string>
					<string>🇮🇱</string>
					<string>🇮🇲</string>
					<string>🇮🇳</string>
					<string>🇮🇴</string>
					<string>🇮🇶</string>
					<string>🇮🇷</string>
					<string>🇮🇸</string>
					<string>🇮🇹</string>
					<string>🇯🇪</string>
					<string>🇯🇲</string>
					<string>🇯🇴</string>
					<string>🇯🇵</string>
					<string>🇰🇪</string>
					<string>🇰🇬</string>
					<string>🇰🇭</string>
					<string>🇰🇮</string>
					<string>🇰🇲</string>
					<string>🇰🇳</string>
					<string>🇰🇵</string>
					<string>🇰🇷</string>
					<string>🇰🇼</string>
					<string>🇰🇾</string>
					<string>🇰🇿</string>
					<string>🇱🇦</string>
					<string>🇱🇧</string>
					<string>🇱🇨</string>
					<string>🇱🇮</string>
					<string>🇱🇰</string>
					<string>🇱🇷</string>
					<string>🇱🇸</string>
					<string>🇱🇹</string>
					<string>🇱🇺</string>
					<string>🇱🇻</string>
					<string>🇱🇾</string>
					<string>🇲🇦</string>
					<string>🇲🇨</string>
					<string>🇲🇩</string>
					<string>🇲🇪</string>
					<string>🇲🇫</string>
					<string>🇲🇬</string>
					<string>🇲🇭</string>
					<string>🇲🇰</string>
					<string>🇲🇱</string>
					<string>🇲🇲</string>
					<string>🇲🇳</string>
					<string>🇲🇴</string>
					<string>🇲🇵</string>
					<string>🇲🇶</string>
					<string>🇲🇷</string>
					<string>🇲🇸</string>
					<string>🇲🇹</string>
					<string>🇲🇺</string>
					<string>🇲🇻</string>
					<string>🇲🇼</string>
					<string>🇲🇽</string>
					<string>🇲🇾</string>
					<string>🇲🇿</string>
					<string>🇳🇦</string>
					<string>🇳🇨</string>
					<string>🇳🇪</string>
					<string>🇳🇫</string>
					<string>🇳🇬</string>
					<string>🇳🇮</string>
					<string>🇳🇱</string>
					<string>🇳🇴</string>
					<string>🇳🇵</string>
					<string>🇳🇷</string>
					<string>🇳🇺</string>
					<string>🇳🇿</string>
					<string>🇴🇲</string>
					<string>🇵🇦</string>
					<string>🇵🇪</string>
					<string>🇵🇫</string>
					<string>🇵🇬</string>
					<string>🇵🇭</string>
					<string>🇵🇰</string>
					<string>🇵🇱</string>
					<string>🇵🇲</string>
					<string>🇵🇳</string>
					<string>🇵🇷</string>
					<string>🇵🇸</string>
					<string>🇵🇹</string>
					<string>🇵🇼</string>
					<string>🇵🇾</string>
					<string>🇶🇦</string>
					<string>🇷🇪</string>
					<string>🇷🇴</string>
					<string>🇷🇸</string>
					<string>🇷🇺</string>
					<string>🇷🇼</string>
					<string>🇸🇦</string>
					<string>🇸🇧</string>
					<string>🇸🇨</string>
					<string>🇸🇩</string>
					<string>🇸🇪</string>
					<string>🇸🇬</string>
					<string>🇸🇭</string>
					<string>🇸🇮</string>
					<string>🇸🇯</string>
					<string>🇸🇰</string>
					<string>🇸🇱</string>
					<string>🇸🇲</string>
					<string>🇸🇳</string>
					<string>🇸🇴</string>
					<string>🇸🇷</string>
					<string>🇸🇸</string>
					<string>🇸🇹</string>
					<string>🇸🇻</string>
					<string>🇸🇽</string>
					<string>🇸🇾</string>
					<string>🇸🇿</string>
					<string>🇹🇦</string>
					<string>🇹🇨</string>
					<string>🇹🇩</string>
					<string>🇹🇫</string>
					<string>🇹🇬</string>
					<string>🇹🇭</string>
					<string>🇹🇯</string>
					<string>🇹🇰</string>
					<string>🇹🇱</string>
					<string>🇹🇲</string>
					<string>🇹🇳</string>
					<string>🇹🇴</string>
					<string>🇹🇷</string>
					<string>🇹🇹</string>
					<string>🇹🇻</string>
					<string>🇹🇼</string>
					<string>🇹🇿</string>
					<string>🇺🇦</string>
					<string>🇺🇬</string>
					<string>🇺🇲</string>
					<string>🇺🇳</string>
					<string>🇺🇸</string>
					<string>🇺🇾</string>
					<string>🇺🇿</string>
					<string>🇻🇦</string>
					<string>🇻🇨</string>
					<string>🇻🇪</string>
					<string>🇻🇬</string>
					<string>🇻🇮</string>
					<string>🇻🇳</string>
					<string>🇻🇺</string>
					<string>🇼🇫</string>
					<string>🇼🇸</string>
					<string>🇽🇰</string>
					<string>🇾🇪</string>
					<string>🇾🇹</string>
					<string>🇿🇦</string>
					<string>🇿🇲</string>
					<string>🇿🇼</string>
				</array>
			</dict>
			<dict>
				<key>subdivision-flag</key>
				<array>
					<string>🏴󠁧󠁢󠁥󠁮󠁧󠁿</string>
					<string>🏴󠁧󠁢󠁳󠁣󠁴󠁿</string>
					<string>🏴󠁧󠁢󠁷󠁬󠁳󠁿</string>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Symbols</key>
		<array>
			<dict>
				<key>transport-sign</key>
				<array>
					<string>🏧</string>
					<string>🚮</string>
					<string>🚰</string>
					<string>♿</string>
					<string>🚹</string>
					<string>🚺</string>
					<string>🚻</string>
					<string>🚼</string>
					<string>🚾</string>
					<string>🛂</string>
					<string>🛃</string>
					<string>🛄</string>
					<string>🛅</string>
				</array>
			</dict>
			<dict>
				<key>warning</key>
				<array>
					<string>⚠️</string>
					<string>⚠</string>
					<string>🚸</string>
					<string>⛔</string>
					<string>🚫</string>
					<string>🚳</string>
					<string>🚭</string>
					<string>🚯</string>
					<string>🚱</string>
					<string>🚷</string>
					<string>📵</string>
					<string>🔞</string>
					<string>☢️</string>
					<string>☣️</string>
				</array>
			</dict>
			<dict>
				<key>arrow</key>
				<array>
					<string>⬆️</string>
					<string>↗️</string>
					<string>➡️</string>
					<string>↘️</string>
					<string>⬇️</string>
					<string>↙️</string>
					<string>⬅️</string>
					<string>↖️</string>
					<string>↕️</string>
					<string>↔️</string>
					<string>↔</string>
					<string>↩️</string>
					<string>↩</string>
					<string>↪️</string>
					<string>↪</string>
					<string>⤴️</string>
					<string>⤴</string>
					<string>⤵️</string>
					<string>⤵</string>
					<string>🔃</string>
					<string>🔄</string>
					<string>🔙</string>
					<string>🔚</string>
					<string>🔛</string>
					<string>🔜</string>
					<string>🔝</string>
				</array>
			</dict>
			<dict>
				<key>religion</key>
				<array>
					<string>🛐</string>
					<string>⚛️</string>
					<string>🕉️</string>
					<string>🕉</string>
					<string>✡️</string>
					<string>☸️</string>
					<string>☯️</string>
					<string>✝️</string>
					<string>☮️</string>
					<string>🕎</string>
					<string>🔯</string>
				</array>
			</dict>
			<dict>
				<key>zodiac</key>
				<array>
					<string>♈</string>
					<string>♉</string>
					<string>♊</string>
					<string>♋</string>
					<string>♌</string>
					<string>♍</string>
					<string>♎</string>
					<string>♏</string>
					<string>♐</string>
					<string>♑</string>
					<string>♒</string>
					<string>♓</string>
					<string>⛎</string>
				</array>
			</dict>
			<dict>
				<key>other-symbol</key>
				<array>
					<string>♻️</string>
					<string>⚜️</string>
					<string>🔱</string>
					<string>📛</string>
					<string>🔰</string>
					<string>⭕</string>
					<string>✅</string>
					<string>☑️</string>
					<string>✔️</string>
					<string>✖️</string>
					<string>✖</string>
					<string>❌</string>
					<string>❎</string>
					<string>➕</string>
					<string>➖</string>
					<string>➗</string>
					<string>➰</string>
					<string>➿</string>
					<string>〽️</string>
					<string>✳️</string>
					<string>✴️</string>
					<string>❇️</string>
					<string>‼️</string>
					<string>⁉️</string>
					<string>❓</string>
					<string>❗</string>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
